.root{
    -fx-background-color: #352135;

}

#chartArea{
    -fx-background-color: white;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

#changeSceneButton{
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-font-family: Calibri;
    -fx-opacity: 0.9;
}

#titleLabel{

    -fx-font-size: 35;
    -fx-font-family: "Century Schoolbook";

}
.TableView{
    -fx-fixed-cell-size: 0;
}

.default-color0.chart-bar { -fx-bar-fill: #460364; }


.table-view .column-header{

    -fx-background-radius: 7;
    -fx-pref-height: 30;

}

.table-view .column-header-background{
    -fx-background-color: transparent;
}
