.root{
    -fx-background-color: #352135;

}

#chartArea{
    -fx-background-color: white;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

#changeSceneButton{
    -fx-font-weight: bold;
    -fx-font-size: 14;
    -fx-font-family: "Century Schoolbook";
    -fx-opacity: 0.9;

}